.div{
    text-align: center;
    font-size: x-large;
}
/* Here using property data binding. */
img{
    display: block;
    margin: 0 auto;
    width: 25%;
}

.error-output{
    margin-left: 10px;letter-spacing: normal;
    font-size: 12px;
    font-style: italic;
    color: red;
}